.FunDooNotes{
    margin: auto;
  margin-left: 7%;
  margin-top: 3%;
  font-size: 20pt;
  margin-bottom: 0;
  
  }
  .line-break {
    width: 100%;
  }
div{
  padding-bottom: 5px;
}
.container {
    display: flex;  
    flex-direction: column;
   // border: black solid 1px;
    height: max-content;
    padding: 7%;
    justify-content: flex-start
    }
button{
        float: right;
      }
.div-form{
    width: 30%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .email{
    width: 100%;
      padding-bottom: 0px;
      margin-bottom: 7px
  
   }
   .password{
    width: 100%;
    margin-bottom: 0px;
   }
   ::ng-deep .mat-form-field{
    width: inherit;
  }
   ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.5em 3px ;
    }

   ::ng-deep .mat-form-field-label-wrapper {
    top: -1.2em;
    padding-top: .84375em;
  }
   
  // @media screen and (max-width : 1200px){
  //   body{
  //     margin: 0px;
  // height: 100%;
  // overflow: hidden
  //   }
  //   .div-form{
  //     border: 0px;
  //   width: auto;
  //   margin-left: 20px;
  //   margin-right: 20px;
  //   // margin: auto;
  //   margin-top: 30px;
  //   // height: 100%;
  //   }
  //   .container {
  //     padding: 0px;
  //     overflow: hidden;
  //   }
  //   .FunDooNotes{
  //     margin: 10px;
  //   }
  //   button {
  //     position: inherit;
  //   }
  //   .div{
  //     margin: auto;
  //   }
  // }
  
    