<div class="search-div">
    <mat-card *ngIf="!popup" class="search-bar" (click)="onClickNote()">
            <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Take a note...">
            <button class="search-button" mat-icon-button>
                    <mat-icon matSuffix><img src="../../../../assets/check_box.svg"></mat-icon>
            </button>
           
    </mat-card>
    <div *ngIf="popup">
        <div class="flex-container">
     <div>
    <mat-card class="matcard-box">
        <form [formGroup]="noteForm" (ngSubmit)="addNote()">
             <mat-card-header>
                <mat-card-title style="display: flex;">
                    <input class="form-control" type="text" style="width:35vw;margin-left:-15px; height:20px; border: none; outline: none;" placeholder="Title" formControlName="title" >
                    <button class="search-button" mat-icon-button style="margin-top: -9px;">
                        <mat-icon matSuffix><img src="../../../../assets/check_box.svg"></mat-icon>
                    </button>
                </mat-card-title>
             </mat-card-header>
        <mat-card-content>
                <textarea matInput style="width:350px; border: none; outline: none;"
                        cdkTextareaAutosize placeholder="Take a note..." 
                        formControlName="description"
                        cdkAutosizeMaxRows="25"></textarea>
                        <app-icons></app-icons>
        </mat-card-content>
        <button style="float: right; margin-top: -10px;">close</button>
            </form>
     </mat-card>
     </div>
 </div>
    </div>
</div>
