<div class="container">
    <div class="main">
            <button mat-icon-button  aria-label="Example icon-button with a menu">
                <img id="icon" mat-card-image src="../../../assets/remid me.svg" />
            </button>
        </div>

        <div class="main">
            <button mat-icon-button>
                <img id="icon" mat-card-image src="../../../assets/collaborator.svg" />
            </button>
        </div>
        <div class="main">
                <button mat-icon-button  aria-label="Example icon-button with a menu">
                    <img id="icon" mat-card-image src="../../../assets/change color.svg" />
                </button>
            </div>
            <div class="main">
                <button mat-icon-button>
                    <img id="icon" mat-card-image src="../../../assets//insert_photo_black_24dp.svg" />
                </button>
            </div>
        
            <div class="main">
                <button mat-icon-button  (click)="archiveNote()">
                    <img id="icon" mat-card-image src="../../../assets/archive.svg" />
                </button>
            </div>
        
            <div class="main">
                <button class="menuicon" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        
            <div>
                <mat-menu #menu="matMenu">
        
                    <button mat-menu-item >
                        <span>Delete note</span>
                    </button>
                    <button mat-menu-item >
                        <span>Add label</span>
                    </button>
        
                    <button mat-menu-item (click)="trashNote()">
                        <span>Add Trash</span>
                    </button>
        
                    <button mat-menu-item>
                        <span>Add drawing</span>
                    </button>
        
                    <button mat-menu-item>
                        <span>Make a copy</span>
                    </button>
        
                    <button mat-menu-item>
                        <span>Copy to Google Docs</span>
                    </button>
                </mat-menu>
            </div>
</div>
