<div class="container">
    <div class="child">
      <div>
        <span class="color-fundoo-F" style="color:#4285F4">F</span>
        <span class="color-fundoo" style="color:#EA4335">u</span>
        <span class="color-fundoo" style="color:#FBBC05">n</span>
        <span class="color-fundoo" style="color:#4285F4">d</span>
        <span class="color-fundoo" style="color:#34A853">o</span>
        <span class="color-fundoo" style="color:#EA4335">o</span>
      </div>
       
  
    </div>
    <div class="child signin">
      <span>Sign in</span>
    </div>
</div>
