.container {
    width: 668px;
    padding: 48px 48px 36px 48px;
   // border: 1px solid red;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .c-left-part {
    //border: 1px solid red;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  
  .c-right-part {
    //border: 1px solid red;
    //width: 30%;
    flex-grow: 1;
  }
  .inputField {
    width: 100%;
    padding-right: 10px;
  }
  .c-left-input {
    display: flex;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  // .username {
  //   // width: 0px;
  // }
  .password {
    display: flex;
    margin-top: 15px;
  }
  
  .Show-password {
    margin-top: 10px;
  }
  
  .pass-hint {
    flex-grow: 2;
    width: 380px;
    font-size:small;
    margin-left: 8px;
    margin-top: 0px;
  }
  
  .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .signin {
    align-self: center;
  }
  .c-right-part image{
    max-width: 800px;
    height: auto;   
  }