<div class="title">
    <div fxFlexLayout="column" class="t1">
        <textarea  matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
        cdkAutosizeMinColumns="auto" cdkAutosizeMaxRows="auto"  name="content" [(ngModel)]="title" placeholder="Title"></textarea>
    </div>
    <div class="t2">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
        cdkAutosizeMinColumns="auto" cdkAutosizeMaxRows="auto" [(ngModel)]="description" name="title" placeholder="Take a note" class="takeNote"></textarea>
    </div>
   
        <div class="btn1">
            <button mat-button role='button' tabindex="0"  color="blck" class="btn1" (click)="updateNote()">Close</button>
        </div> 
</div> 
