.matcard-box{
    margin: 10px;
    width:250px;
  }
  .flex-container {
    display: flex;
    margin-left: auto;                                                                                                                                                                                                                                                                                                                                                               
    margin-right: auto;
    flex-wrap: wrap;                                                                                                                                                                                                                                                                                                                                                              
  }
  .textarea_list{
    width: 200px;
  }
  .textarea_list{
border: none;
outline: none;
  }
  .title_card{
    margin-left:-12px;;
  }