<div fxLayout="row" fxLayoutAlign="space-between center" class="div-mat-toolbar">
  <mat-toolbar class="fundo-mat-toolbar">

      <div>
          <button mat-icon-button class="fundo-button" (click)="drawer.toggle()">
              <mat-icon matSuffix>menu</mat-icon>
          </button>
      </div>
      <div class="img-div">
        <img class="div-img" mat-card-image src="../../../assets/google_keep_new_icon.webp">
    </div>
    <div class="div-keep">
        FundooNotes
    </div>
    <mat-card>
      <div class="div-search" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon matSuffix class="divsearch">search</mat-icon>
          <input class="input-search" style="font-size: medium;" matInput placeholder="Search">
          <mat-icon matSuffix style="margin-right: 10px;">clear</mat-icon>
      </div>
  </mat-card>
  <div class="icon" >

    <button class="refresh" mat-icon-button matTooltip="refresh">
          <mat-icon>refresh</mat-icon>
    </button>

<button mat-icon-button >
    <mat-icon>view_stream</mat-icon>
    <!-- <mat-icon >view_module</mat-icon> -->
</button>
</div>
<div>
    <mat-icon class="mat-icon-setting" matSuffux>settings_applications</mat-icon>
</div>
<div>
    <mat-icon class="mat-icon-apps" matSuffux>apps</mat-icon>
</div>
  </mat-toolbar>
</div>
<div>
    <mat-drawer-container class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <div>
                <div>
                    <div class="button_allii">
                         <button class="button_all" mat-stroked-button>
                                <div style="display: flex;">
                           <div> <mat-icon class="maticon"><img src="../../../assets/notes.svg" /></mat-icon></div>
                            <div class="listdiv"><span class="listlabel">Notes</span></div> 
                        </div>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <button mat-stroked-button class="button_all" >
                        <div style="display: flex;">
                    <div>  <mat-icon class="maticon">notifications_none</mat-icon></div>
                    <div class="listdiv"><span class="listlabel">Remainder</span></div> 
                        </div>
                </button>
            </div>
            <div class="div-button-icon">
                <button mat-stroked-button class="button_all" >
                        <div style="display: flex;">
                   <div> <mat-icon class="maticon">archive</mat-icon></div>
                   <div class="listdiv"><span class="listlabel">Archive</span></div>
                        </div>
                </button>

                <button mat-stroked-button class="button_all" >
                        <div style="display: flex;">
                                <div>   <mat-icon class="maticon">delete_outline</mat-icon></div>
                                <div class="listdiv"><span class="listlabel">Trash</span></div>
                        </div>
               </button>
            </div>
        
            </mat-drawer>
            <app-createnotes></app-createnotes>
    </mat-drawer-container>
</div>

