body{
    font-family: 'Roboto',arial,sans-serif;
      font-size: 15px;
      margin: 0;
  }
  mat-toolbar{
    border-bottom: #DADCE0 solid 1px;
  }
  
  .logo {
    position:absolute;
    top:13px;
    left: 48px;
    width: 78px;
    height: 45px;
  }
  .keep {
    position:absolute;
    top:22px;
    left:120px;
  }
  .search {
    font-size: 17px;
   margin-top: 2.2%;
   
  }
  mat-form-field.mat-form-field {
    position:absolute;
     top: 15px;
     left: 280px;
     right: 10%;
     width:20%
     
   }
   .closeicon {
    position : absolute;
   margin-top: 0%;
   margin-bottom: 0.2%;
   left: 530px;
   width:5%;
   height: 94%;
  
 }
 .mat-icon-button{
    border-radius: 50%;
    display: inline-block;
    // margin: 0 4px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right:10%;
  }
  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mat-toolbar{
    background: white;
    color: gray;
  }
  .example {
    position: fixed;
  }
  mat-sidenav{
    width: 280px;
    border: none;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
  }
  .mat-list-item{

    border-radius: 0 25px 25px 0;
  }
  
  .sidenav-container {
    flex: 1;
  }
  .example .sidenav-container {
    flex: 1 0 auto;
  }