<div fxLayout="row" fxLayoutAlign="space-between center" class="mat-toolbar">
  <mat-toolbar class="fundo-mat-toolbar">

      <div>
          <button mat-icon-button class="fundo-button" (click)="drawer.toggle()">
              <mat-icon matSuffix>menu</mat-icon>
          </button>
      </div>
      <div class="img-div">
        <img class="image" mat-card-image src="../../../assets/google_keep_new_icon.webp">
    </div>
    <div class="keep">
        FundooNotes
    </div>
    <mat-card>
      <div class="search" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon matSuffix class="search-space">search</mat-icon>
          <input class="input-search" style="font-size: medium;" matInput placeholder="Search">
          <mat-icon matSuffix style="margin-right: 15px;">clear</mat-icon>
      </div>
  </mat-card>
  <div class="icon" >

    <button class="refresh" mat-icon-button matTooltip="refresh">
          <mat-icon>refresh</mat-icon>
    </button>

<button mat-icon-button >
    <mat-icon>view_stream</mat-icon>
    <!-- <mat-icon >view_module</mat-icon> -->
</button>
</div>
<div>
    <mat-icon class="mat-icon-setting" matSuffux>settings_applications</mat-icon>
</div>
<div>
    <mat-icon class="mat-icon-apps" matSuffux>apps</mat-icon>
</div>
<div>
    <button mat-button [matMenuTriggerFor]="beforeMenu">
            <img class="img-myself" src="../../../assets/myself.jpg">
    </button>
<mat-menu class="matmenuImage" #beforeMenu="matMenu" xPosition="before">
<div><img class="img-myself" src="../../../assets/myself.jpg"></div> 
<button mat-stroked-button>Add Account</button> 
<button mat-stroked-button>Log Out</button>
</mat-menu>
</div>
  </mat-toolbar>
</div>
<div>
    <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <div>
                <div>
                    <div class="buttons">
                         <a class="button_all" mat-stroked-button routerLink="/dashboard/getnotes">
                                <div style="display: flex;">
                           <div> <mat-icon class="maticon"><img src="../../../assets/notes.svg" /></mat-icon></div>
                            <div class="list"><span class="listlabel">Notes</span></div> 
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div>
                <button mat-stroked-button class="button_all" >
                        <div style="display: flex;">
                    <div>  <mat-icon class="maticon">notifications_none</mat-icon></div>
                    <div class="list"><span class="listlabel">Reminder</span></div> 
                        </div>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div class="button-icon">
                <a mat-stroked-button class="button_all" routerLink="/dashboard/archive">
                        <div style="display: flex;">
                   <div> <mat-icon class="maticon">archive</mat-icon></div>
                   <div class="list"><span class="listlabel">Archive</span></div>
                        </div>
                    </a>

                <a mat-stroked-button class="button_all" routerLink= "/dashboard/trash">
                        <div style="display: flex;">
                                <div>   <mat-icon class="maticon">delete_outline</mat-icon></div>
                                <div class="list"><span class="listlabel" >Trash</span></div>
                        </div>
                    </a>
            </div>
        
            </mat-drawer>
            <!-- <app-createnotes></app-createnotes>
            <app-displaynote></app-displaynote> -->
            <!-- <app-getnotes></app-getnotes> -->
            <mat-drawer-content class="drawer-content">
                    <router-outlet></router-outlet>
            </mat-drawer-content>
    </mat-drawer-container>
</div>

