<div class="container" [class.example]="mediaQuery.matches" >
    <mat-toolbar >
        <mat-toolbar-row style="background-color: white;">
          <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()" style="margin-left:10%">menu </mat-icon>
          </button>
  
            <img class="logo" src="../../../assets/google_keep_new_icon.webp" width="50px" height="40px">
            <div class="keep" style="font-size: 23px; font-family:'Roboto',arial,sans-serif; color: rgb(119, 115, 115);">
              FundooNotes
              </div>
          <div >
          <mat-form-field class="mat-form-field" appearance="outline" style="width: 600px; font-size: 3px; box-shadow: black;">
              <input class="search" matInput >
              
          </mat-form-field>
          </div>
       
        </mat-toolbar-row>
        
      </mat-toolbar>

      <mat-sidenav-container class="sidenav-container"> 
    <mat-sidenav #sidenav [mode]="mediaQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mediaQuery.matches" fixedTopGap="56">
    <mat-nav-list>
        <a mat-list-item> 
            <span class="notes">Note</span>
          </a>
          <a mat-list-item> 
            <span class="notes">Reminders</span>
          </a>
          <a mat-list-item> 
            <span class="notes">Archive</span>
          </a>
          <a mat-list-item> 
            <span class="notes">Trash</span>
          </a>
    </mat-nav-list>
    </mat-sidenav>
      </mat-sidenav-container>
      </div>
