.div-mat-toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fundo-mat-toolbar{
  background-color: white;
}
.fundo-button{
  margin-left:-16px;
}
.div-img{
  display: flex;
  width: 79px;
    height: 42px;
  margin-left:6px;
  padding-top: 30px;
  }
  .div-keep{
    margin-left:2vw;
  }
  .divsearch {
    margin-left: -20px;
  }
  .div-search{
    display: flex;
    border-radius:10px;
  //  border: 2px solid #5f6368;
  //  background-color: white;
   width:650px;
    height:50px;
    margin-left:50px;
  }
  .mat-card {
    padding: 0px;
    padding-left: 0px;
    // border: 1px solid;
    // border-radius: 10px;
    width: 100;
    margin-left: 25px;
    background-color: rgb(243, 243, 243);
  }
  .input-search{
    display: flex;
    outline: none;
    width:100%;
    height:30px;
    border:1px solid rgb(243, 243, 243);
    background-color: rgb(243, 243, 243);
  }
  .icon {
    margin-left: 100px;
    padding-left: 100px;
  }
.mat-icon-refresh{
  padding-left: 30px; 
  margin-top:6px;
  margin-left: 8vw;
}
.mat-icon-setting{
  margin-top:8px;
  margin-left: 1vw;
}
.mat-icon-apps{
  margin-top:6px;
  margin-left: 5vw;
}
// .example-sidenav {
//   padding: 150px;
// }
.example-container{
 // display: flex;
  position: absolute;;
  top: 70px;
  bottom: 0%;
  left: 0;
  right: 0;
  border: 1px solid rgb(224, 226, 69);
  // background:rgb(112, 245, 123);
}
.button_all{
  width:250px; 
  border-top-right-radius:35px;
  border-bottom-right-radius:35px;
 height:50px;
 outline: none;
 margin-top:5px;
}
.button_all:focus{
  background-color: rgb(247, 234, 123);
}
.button_allii{
  outline: none;
}
.mat-stroked-button:not([disabled]) {
  border-color: rgba(232, 235, 232, 0.12);
}
.maticon{
  margin-top: 10px;
  }
  .listlabel{
    padding-left: 40px;
    font-weight: bold;
    
    }
    .listdiv{
      margin-top: 7px;
    }
    .div-button-icon{
      width: 250px;
     }